<!DOCTYPE html>
<html>
  <head>
    <title>Book a Karaoke Room</title>

    <style>
      body {
        background: #eef2f7;
        font-family: Arial, sans-serif;
      }

      h1 {
        text-align: center;
        color: #1e6be3;
        font-size: 55px;
      }

      .container {
        width: 500px;
        margin: auto;
        background: white;
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      }

      label {
        display: block;
        margin-top: 15px;
        margin-bottom: 5px;
        color: #1e6be3;
        font-weight: bold;
      }

      input {
        width: 100%;
        padding: 12px;
        border: 1px solid #ddd;
        border-radius: 5px;
      }

      button {
        width: 100%;
        border: none;
        padding: 12px;
        color: white;
        border-radius: 5px;
        margin-top: 15px;
        cursor: pointer;
        font-size: 16px;
      }

      .book {
        background: #2475ea;
      }

      .back {
        background: #f39c34;
      }
    </style>
  </head>

  <body>
    <h1>Book a Karaoke Room</h1>
    <div class="container">
      <form action="/bookings/add" method="POST">
        <label>Customer Name</label>
        <input
          type="text"
          name="customerName"
          placeholder="Enter your name"
          required
        />
        <label>Room Number</label>
        <input
          type="text"
          name="roomNumber"
          placeholder="Enter room number"
          required
        />
        <label>Start Time</label>
        <input type="datetime-local" name="startTime" required />
        <label>End Time</label>
        <input type="datetime-local" name="endTime" required />
        <button class="book">Book Room</button>
      </form>
      <a
        href="/bookings"
        style="
          display: block;
          text-align: center;
          text-decoration: none;
          background: #f39c34;
          color: white;
          padding: 12px;
          border-radius: 5px;
          margin-top: 15px;
        "
      >
        Go Back
      </a>
    </div>

    <script>
      document.querySelector("form").addEventListener("submit", function (e) {
        const startTime = document.querySelector('input[name="startTime"]').value;
        const endTime = document.querySelector('input[name="endTime"]').value;
        
        if (new Date(endTime) <= new Date(startTime)) {
          e.preventDefault();
          alert("Can't book room: End time must be after start time!");
        }
      });
    </script>
  </body>
</html>
